/* Sass Document */
body {
  background: #eee; }

#jumbotron {
  background-image: url(../images/header/kv_img__sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 180px; }

section {
  padding: 50px 0; }

.bg-dark {
  background-color: rgba(0, 0, 0, 0.7) !important; }

@media (min-width: 768px) {
  #jumbotron {
    background-image: url(../images/header/kv_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px; }

  section {
    padding: 100px 0; } }
